<div class='sixteen columns'>
<form method="POST" action="/signin">
  <h3>Account Sign In</h3>
  <label>Name:</label><input type="text" id="username" name="username" />
  <label>Password:</label><input type="text" id="password" name="password" />
  <button>To the blog!</button>
</form>

</div>